@charset "utf-8";
/* @import url('../css/font.css'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline-style: none; */
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Noto Sans", "Noto Sans SC", "Noto Sans KR", Dotum, 돋움, Helvetica, "Apple SD Gothic Neo", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.7;
  letter-spacing: normal;
  color: #101010;
}

/* 공통요소 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
}

/* 모달창 */
.modal-wrap {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(30, 30, 30, 0.6);
  z-index: 99999;
}

.modal-box {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  /* height: 103px; */
  height: 450px;
  border-radius: 50px;
  border: 1px solid #333;
  text-align: center;
  /* background-color: #fff; */
  background-color: #F7F0E6;
  transition: height 1s;
}

.modal-box:hover {
  height: 450px;
}

.modal-box:hover .modal-close {
  visibility: visible;
}

.modal-close {
  position: relative;
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border-radius: 25px;
  cursor: pointer;
  border: 0;
  background-color: rgb(84, 188, 129);
}

.modal-close:hover {
  background-color: rgb(163, 122, 61);

}

.modal-content {
  position: relative;
  display: block;
  margin-top: 60px;
}


.modal-content h3 {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 40px;
  color: #333;
}

.modal-content p {
  position: relative;
  display: block;
  font-size: 30px;
}

.modal-content h4 {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 40px;
  color: #333;
}

.wrap {
  position: relative;
  display: block;
}

/* headher */
.header {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  transform: translateX(-50%);
  width: 100%;
  height: 80px;
  margin: 40px 0;
  z-index: 99;
}

.header-logo {
  position: relative;
  display: block;
  float: left;
  width: 18%;
  height: 80px;
  background: url('../images/logo.svg') no-repeat center;
  background-size: contain;
  cursor: pointer;
}

.gnb {
  position: relative;
  display: block;
  float: right;
  z-index: 999;
}

.gnb-mainmenu {
  position: relative;
  display: inline-block;
  font-size: 0;
}

.gnb-mainmenu>li {
  position: relative;
  display: inline-block;
  margin-left: 1.4vw;
}

.gnb-mainmenu>li>a {
  color: #fff;
  font-size: 1.2vw;
  line-height: 80px;
  padding: 10px 35px 10px 15px;
  border-radius: 30px;
  font-weight: 700;
}


.gnb-mainmenu>li>a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%);
  display: block;
  width: 10px;
  height: 10px;
  background: url('../images/ico_nav_arrow.svg') no-repeat center;
  background-size: contain;
}


.gnb-mainmenu>li:hover>a {
  background-color: #fff;
  color: #3E2A2F
}

.gnb-mainmenu>li>a:hover::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%) rotate(180deg);
  display: block;
  width: 10px;
  height: 10px;
  background: url('../images/ico_nav_arrow_h.svg') no-repeat center;
  background-size: contain;
}


.gnb-mainmenu>li>ul.gnb-submenu {
  position: absolute;
  top: 70;
  left: 0;
  display: none;
}

.gnb-submenu>li {
  position: relative;
  display: block;
}

.gnb-submenu>li>a {
  position: relative;
  display: block;
  color: #333;
  width: 180px;
 font-size: 1vw;
  padding: 10px 20px;
  font-weight: 500;
  white-space: nowrap;
  border-bottom: 1px solid #EAEAEA;
  background-color: #fff;
}

.gnb-submenu>li:first-child>a {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.gnb-submenu>li:last-child>a {
  border-bottom: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.gnb-submenu>li>a:hover {
  color: #fff;
  background-color: #3E2A2F;
  font-weight: 600;
}

/* visual */
.visual {
  position: relative;
  display: block;
  z-index: 9;
}

.header-swp {
  position: relative;
  display: block;
  width: 100%;
  height: 50vw;
}

.header-swp::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vw;
  background-color: rgba(48, 46, 46, 0.3);
  z-index: 10;
}

.header-swp::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16.5vw;
  background: url('../images/bg_main_slide.png') no-repeat;
  background-size: cover;
  z-index: 11;
}



.sw-navi {
  position: absolute;
  top: 50%;
  display: block;
  width: 4%;
  height: 12%;
  border: 0;
  z-index: 99;
  cursor: pointer;
}

.hdsw-prev {
  left: 0;
  border-radius: 0 9px 9px 0;
  background: url('../images/ico_slide_prev.svg') no-repeat center;
  background-size: 20%;
  background-color: rgba(21, 21, 21, 0.3);
}


.hdsw-next {
  right: 0;
  border-radius: 9px 0 0 9px;
  background: url('../images/ico_slide_next.svg') no-repeat center;
  background-size: 20%;
  background-color: rgba(21, 21, 21, 0.3);
}

.sw-navi:hover {
  background-color: rgba(21, 21, 21, 0.8);
}


.header-swp .swiper-slide>span {
  position: relative;
  display: block;
  width: 100%;
  height: 90%;
}


.hd-swp01 {
  position: relative;
  display: block;
  background: url('../images/220509-37-min.png') no-repeat center;
  background-size: cover;
}

.hd-swp02 {
  position: relative;
  display: block;
  background: url('../images/220509-8-min.png') no-repeat center;
  background-size: cover;
}



.hd-swp03 {
  position: relative;
  display: block;
  background: url('../images/220509-21-min.png') no-repeat center;
  background-size: cover;
}



.hd-swp04 {
  position: relative;
  display: block;
  background: url('../images/220509-3-min-1.png') no-repeat center;
  background-size: cover;
}



.hd-swiper-pg {
  position: absolute;
  top: 70%;
  left: 10%;
  display: block;
  z-index: 9;
}


.swiper-pagination-bullet {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 10px;

  border: 1px solid transparent;
  background-color: white;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: transparent;
  border-color: #fff;
}


.swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}

/* submenu */
.submenu {
  position: relative;
  display: block;
}

ul.program-list {
  position: relative;
  display: block;
  width: 100%;
  font-size: 0;
}

.program-list>li {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 265px;
}

.program-list>li>a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.programbt01 {
  width: 100%;
  height: 85%;
  background: url('../images/bg_program_blue.png') no-repeat center;
  background-size: contain;
}


.programbt02 {
  width: 100%;
  height: 115%;
  background: url('../images/bg_program_green.png') no-repeat center;
  background-size: contain;
}


.programbt03 {
  width: 100%;
  height: 105%;
  background: url('../images/bg_program_orange.png') no-repeat center;
  background-size: contain;
}


.programbt04 {
  width: 100%;
  height: 115%;
  background: url('../images/bg_program_yellow.png') no-repeat center;
  background-size: contain;
}

.program-list>li>a>span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 28px;
  color: #fff;
  white-space: nowrap;
  font-weight: 700;
  padding-bottom: 55px;
}

.program-list li a span::after {
  content: '';
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 45px;
  background: url('../images/ico_program_arrow.svg') no-repeat center;
  background-size: contain;
}



/* about-place */
.about-place {
  position: relative;
  display: block;
  margin-top: 120px;
}


.ap-text {
  position: relative;
  width: 30%;
  display: block;
  float: left;
}

.ap-text h2 {
  position: relative;
  display: block;
  font-size: 2.5vw;
  font-weight: 700;
}

.ap-text h2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 21px;
  height: 3px;
  background-color: #000;
}

.ap-text span {
  position: relative;
  display: block;
  font-size: 18px;
  color: #444;
  line-height: 27px;
  margin-top: 30px;
}

.ap-text button {
  position: relative;
  display: block;
  border: 0;
  background-color: #fff;
  font-size: 0.8vw;
  border: solid 2px #3E2A2F;
  border-radius: 50px;
  padding: 10px 55px 10px 25px;
  margin-top: 40px;
  cursor: pointer;
}

.ap-text button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 0.8vw;
  background: url('../images/ico_more_arrow.svg') no-repeat center;
  background-size: contain;
}


.ap-tab-swiper {
  position: relative;
  display: block;
  width: 70%;
  height: 30vw;
  float: left;
}

.tabBt-set {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 0;
}

.tabBt-set>button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 0;
}

.tabBt-set>button:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.tabBt-set>button:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.tabBt-set>button>span {
  position: relative;
  display: block;
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  white-space: nowrap;
  padding: 15px 20px;
  border-radius: 25px;
  transition: all 0.2s;
  text-align: center;
}



.tabBt-set>button>span:hover {
  padding: 15px 35px;
  background-color: #804F31;
  border-radius: 25px;
  color: #ffffff;
}


ul.swiperSet {
  position: absolute;
  top: 45px;
  right: 0;
  display: block;
  width: calc(100% - 60px);
  height: calc(100% - 75px);
  margin-top: 60px;
}

.swiperSet>li {
  position: absolute;
  display: block;
  visibility: hidden;
  float: left;
  width: 100%;
  height: 100%;
}

.OpenP-sw,
.GrowP-sw,
.CommuP-sw,
.TogetherP-sw {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.OpenP-sw .swiper-slide>a,
.GrowP-sw .swiper-slide>a,
.CommuP-sw .swiper-slide>a,
.TogetherP-sw .swiper-slide>a {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.op01 {
  background: url('../images/ncimg3.png') no-repeat center;
  background-size: cover;
}

.op02 {
  background: url('../images/ncimg4.png') no-repeat center;
  background-size: cover;
}

.op03 {
  background: url('../images/ncimg5.png') no-repeat center;
  background-size: cover;
}

.gp01 {
  background: url('../images/advance2.png') no-repeat center;
  background-size: cover;
}

.gp02 {
  background: url('../images/advance1.png') no-repeat center;
  background-size: cover;
}

.gp03 {
  background: url('../images/advance4.png') no-repeat center;
  background-size: cover;
}

.gp04 {
  background: url('../images/advance3.png') no-repeat center;
  background-size: cover;
}

.cp01 {
  background: url('../images/ncimg6-1.png') no-repeat center;
  background-size: cover;
}

.cp02 {
  background: url('../images/ncimg2-1.png') no-repeat center;
  background-size: cover;
}

.cp03 {
  background: url('../images/communication4.png') no-repeat center;
  background-size: cover;
}

.tp01 {
  background: url('../images/cooperation30.png') no-repeat center;
  background-size: cover;
}

.tp02 {
  background: url('../images/cooperation3.png') no-repeat center;
  background-size: cover;
}


.swiperSet .swiper-slide>a>span {
  position: absolute;
  bottom: 24px;
  left: 24px;
  display: inline-block;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.PREV {
  position: absolute;
  top: 45%;
  left: -25px;
  transform: translateY(-50%);
  display: block;
  width: 50px;
  height: 50px;
  background: #F4EFE9 url('../images/ico_MainSpaceSlide_prev.svg') no-repeat center;
  background-size: auto;
  border-radius: 50%;
  transform: scaleX(-1);
  z-index: 9;
  border: 0;
  cursor: pointer;
}

.NEXT {
  position: absolute;
  top: 45%;
  right: -25px;
  display: block;
  width: 50px;
  height: 50px;
  background: #F4EFE9 url('../images/ico_MainSpaceSlide_prev.svg') no-repeat center;
  background-size: auto;
  border-radius: 50%;
  z-index: 9;
  border: 0;
  cursor: pointer;
}

.PREV:hover,
.NEXT:hover {
  background: #3D2A2F url('../images/ico_MainSpaceSlide_prev_h.svg') no-repeat center;
}

.faint {
  opacity: 0.2;
  cursor: default;
}

.PREV.faint:hover,
.NEXT.faint:hover {
  background: #F4EFE9 url('../images/ico_MainSpaceSlide_prev.svg') no-repeat center;
}






/* about-itself */
.about-itself {
  position: relative;
  display: block;
  background-color: #F7F0E6;
  margin-top: 120px;
}

.ai-container {
  position: relative;
  display: block;
  width: 100%;
  padding: 160px 480px 160px 40px;
}

.ai-container::after {
  content: '';
  position: absolute;
  bottom: 80px;
  right: 40px;
  display: block;
  width: 360px;
  height: 320px;
  background: url('../images/bg_about_car.png') no-repeat;
  background-size: contain;
}


.ai-container h4 {
  position: relative;
  display: block;
  font-size: 18px;
  color: #804E2F;
  font-weight: bold;
}

.ai-container p {
  position: relative;
  display: block;
  font-size: 32px;
  line-height: 44px;
  color: #151515;
  margin-top: 10px
}

.ai-container p strong {
  font-weight: 700;
}

.ai-container span {
  position: relative;
  display: block;
  font-size: 18px;
  margin-top: 20px;
}




.ai-container button {
  position: relative;
  display: block;
  border: 0;
  background-color: #3E2A2f;
  font-size: 0.8vw;
  color: #fff;
  border: solid 2px #3E2A2F;
  border-radius: 50px;
  padding: 10px 55px 10px 30px;
  margin-top: 40px;
  cursor: pointer;
}

.ai-container button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 0.8vw;
  background: url('../images/ico_more_arrow_w.svg') no-repeat center;
  background-size: contain;
}











/* news */
.news {
  position: relative;
  display: block;
  margin-top: 120px;
}

.news-top {
  position: relative;
  display: block;
}

.news-top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 24px;
  height: 3px;
  background-color: #000;
}

.news-top h2 {
  position: relative;
  display: block;
  float: left;
  font-size: 42px;
  font-weight: 700;
  line-height: 54px;
}


.news-top button {
  position: relative;
  display: block;
  float: right;
  border: 0;
  background-color: #fff;
  font-size: 0.8vw;
  border: solid 2px #3E2A2F;
  border-radius: 50px;
  padding: 12px 60px 12px 30px;
  margin: 5px 0;
  cursor: pointer;
}

.news-top button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 0.8vw;
  background: url('../images/ico_more_arrow.svg') no-repeat center;
  background-size: contain;
}





.news-bottom {
  position: relative;
  display: block;
  font-size: 0;
  margin-top: 20px;
}

.news-bottom a {
  position: relative;
  display: inline-block;
  width: calc(25% - 15px);
  vertical-align: top;
  margin: 0 10px;
}

.news-bottom a:first-child {
  margin-left: 0;
}

.news-bottom a:last-child {
  margin-right: 0;
}


.news-bottom a .news-pic {
  position: relative;
  display: block;
  width: 100%;
  height: 15vw;
}

.news-pic.np01 {
  background: url('../images/학부모-공유회-썸네일.jpg') no-repeat center;
  background-size: contain;
}

.news-pic.np02 {
  background: url('../images/20220630.png') no-repeat center;
  background-size: contain;
}

.news-pic.np03 {
  background: url('../images/20220623-1.png') no-repeat center;
  background-size: contain;
}

.news-pic.np04 {
  background: url('../images/20220615_2.png') no-repeat center;
  background-size: contain;
}

.news-body {
  position: relative;
  display: block;
  width: 100%;
  height: 90px;
}


.news-body h3 {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-size: 22px;
  line-height: 30px;
  color: #151515;
  font-weight: bold;
}

.news-body span {
  position: absolute;
  top: 60px;
  left: 0;
  display: block;
  font-size: 14px;
  color: #9A9A9A;
  line-height: 30px;
  font-weight: 500;
}


/* footer */
.footer {
  position: relative;
  display: block;
  background-color: #3E2A2F;
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 80px;
}


.footer-logo {
  position: relative;
  display: block;
  float: left;
}

.ft-logo {
  width: 320px;
  height: 40px;
  background: url('../images/footer-logo.svg') no-repeat top;
  background-size: auto;
  margin-right: 30px;
}

.footer-info {
  position: relative;
  display: block;
  float: left;
  width: 640px;
}

.footer-info p {
  color: rgba(255, 255, 255, 0.66);
  position: relative;
  display: inline-block;
  font-size: 14px;
  padding-right: 20px
}

.email {
  margin-left: 40px;
}

.footer-info p span {
  padding-left: 12px;
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.footer-info p>span::before {
  content: '';
  position: absolute;
  display: block;
  top: 6px;
  left: 5px;
  width: 1px;
  height: 16px;
  background-color: #ffffff4d;
}

.footer-info strong {
  position: relative;
  display: block;
  color: #ffffff4d;
  font-size: 14px;
  margin-top: 14px;
}

.footer-fmsite {
  position: relative;
  display: block;
  float: right;
  background-color: rgba(255, 255, 255, 0.13);
  cursor: pointer;
  padding: 10px 20px 10px 20px;
}

.footer-fmsite p {
  position: relative;
  display: block;
  color: #fff;
  font-size: 16px;
  padding-right: 80px;
}

.footer-fmsite span {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: block;
  width: 10px;
  height: 10px;
  background: url('../images/ico_sitemap_arrow.svg') no-repeat center;
  background-size: contain;
}

.footer-fmsite span.opened {
  content: '';
  transform: translateY(-50%) rotate(180deg);
}

.fms-pop {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  display: none;
  width: 100%;
  z-index: 9;
}

.toggle {
  display: block;
}

.fms-pop li:first-child {
  border-bottom: solid 1px #3E2A2F;
}

.fms-pop li a {
  white-space: nowrap;
  position: relative;
  display: block;
  color: #fff;
  padding: 10px 0 10px 20px;
  background-color: #57464a;
}